.quill .ql-container .ql-editor {
    width: 90%;
    min-height: 600px;
    padding: .5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .8);
    background-color: white;
  }
  
  .quill .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
  }
  
  .quill .ql-toolbar.ql-snow {
    width: 100vh;
    min-width: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  }
  .header-item{
    padding: 3px;
  }

  .header-item:hover{
    color: rgba(0, 0, 0, 0.333);
    cursor: pointer;
    transition: .25s ease-in-out;
    background-color: #dddddde8;
  }

  @media only screen and (max-width: 762px) {
    .quill .ql-container .ql-editor {
        width: 95%;
        max-width: 800px;
        min-height: 1000px;
        padding: .8em;
        margin: .8em;
      }
      
      .quill .ql-container.ql-snow {
        border: none;
        display: flex;
        justify-content: center;
      }
    
  }

  @media only screen and (min-width: 762px) {
    .quill .ql-container .ql-editor {
        padding: 1em;
        max-width: 925px;
        height: 1300px;
        margin-top: 1em;
      }
      
      .quill .ql-container.ql-snow {
        border: none;
        display: flex;
        justify-content: center;
      }
      
       .text-editor .quill .ql-toolbar.ql-snow {
        flex-wrap: nowrap;
        min-width: 100vh;
        width: fit-content;

      }
  }

